:root {
    --brand-color: #013755;
}

.navbar {
    background-color: var(--brand-color);
}

.btn-primary {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}

/* allows bootstrap to style Laminas Navigation generated menu items within the navbar */
.navbar li.active a {
    color: var(--bs-navbar-active-color);
}

.minicart-table {
    width: 100%;
}

.mini-add{
    color: #d1b06c; 
    padding: 0 5px;
    cursor: pointer;
    font-weight: bold;
}

.minicart-table th,
.minicart-table td {
    padding: 10px;
    text-align: left;
}

.minicart-table img {
    border-radius: 5px;
}

@media (min-width: 768px) {
    .minicart-dropdown {
        width: 560px;
        /* or you can use percentage like 100% */
    }
}